configuration {
  display-drun: "Aplicações:";
  display-window: "Windows:";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font Medium 10";
  modi: "window,run,drun,ssh,combi,keys";
}

@import "/home/andre/.config/rofi/nord.rasi"

